@use './variables' as *;

.container {
  width: min(100% - 2rem, $max-width);
  margin-inline: auto;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
  gap: $gap;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
