$max-width: 70rem;
$gap: 1.5rem;
$color-orange: 35 77% 62%;
$color-red: 5 85% 63%;
$color-offwhite: 36 100% 99%;
$color-grayish-blue: 233 8% 79%;
$color-dark-grayish-blue: 236 13% 42%;
$color-dark-blue: 240 100% 5%;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;
