*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
$max-width: 70rem;

/* Utility classes */
.container {
  width: min(100% - 2rem, $max-width);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
