.navigation-wrapper {
  min-height: 3rem;
  isolation: isolate;

  .logo {
    width: 11%;
  }

  .nav-mobile {
    position: fixed;
    right: 0;
    top: 0;

    width: 75%;
    min-height: 100vh;
    background-color: hsl(0 0% 100%);

    ul {
      list-style-type: none;
    }
  }

  .nav {
    ul {
      list-style-type: none;
    }
  }

  button {
    background-color: transparent;
    border: 0;

    z-index: 1;
  }

  @media (min-width: 400px) {
    margin-top: 4rem;
  }
}

.veil {
  position: absolute;
  inset: 0;

  z-index: -1;

  min-height: 100vh;
  min-width: 100vw;

  // background-color: hsl(0, 0, 0);
  backdrop-filter: blur(100px);
}
